
{% extends 'movie_app/base.html' %}


{% block title %}Все фильмы{% endblock %}


{% block content %}
    {% include 'includes/navigation.html' %}
    <h2>Список всех фильмов</h2>
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{{ movie.get_url }}">{{ movie.name }}</a>,
                год - {{movie.year|default:'Неизвестен' }},
                Рейтинг: {{ movie.rating }},
                Бюджет - {{ movie.budget }}
            </li>
        {% endfor %}
    </ul>

    <h3>Средний бюджет - {{ agg.budget__avg }}</h3>
    <h3>Минимальный рейтинг - {{ agg.rating__min }}</h3>
    <h3>Максимальный рейтинг - {{ agg.rating__max }}</h3>

{% endblock %}